
.card{
    width: 260px;
    height: 300px;
    border-radius: 15px;
    padding: 20px;
    border: 1px solid lightgrey;
}

.card .profile{
    height: 65%;
    overflow: hidden;
    border-radius: inherit;
}

.card .profile img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card .info{
    display:flex;
    flex-direction: column;
    gap: 4px;
}


.card .info p{
    color: grey;
    font-size: 14px;
    margin-top: 5px;
}